<html>
  <head>
    <title>Cryppy - Quick decoding tool</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <body>
    <h1><a href="/">Cryppy</a></h1>
    <form action="/decode" method="post">
      <input type="text" id="enc_str" name="enc_str" required>
      <button type="submit">Decode</button>
    </form>

    {% if input %}

    <h3>Results for '{{ input }}':</h3>

      {% if results %}

      <ul>
        {% for name, decoding in results.items() %}
        <li><strong>{{ name }}</strong>: <code>{{ decoding }}</code></li>
        {% endfor %}
      </ul>

      {% else %}

      <h4 style="color: red;">No valid results for {{ input }}!</h4>
      {% endif %}
    {% endif %}

    <p>
      Cryppy is an open-source tool which recognises the type of encryption based on patterns and decodes them.
    </p>
    <p>
      This is especially useful in a competitve/high-stakes environment such as CTFs.
    </p>
    <strong>Try out these examples!</strong>
    <ul>
      <li><code>dGhpcyBpcyBhIGJhc2U2NCBzdHJpbmch</code></li>
      <li><code>74 68 69 73 20 69 73 20 61 20 68 65 78 20 73 74 72 69 6e 67 21</code></li>
      <li><code>@UX=h3&Mh"FE2)5B-@</code></li>
    </ul>

    <footer>
      <p>MIT License — Copyright © 2026 Sanyam Asthana<br>
      <a href="https://github.com/Sanyam-Asthana/Cryppy">GitHub</a>
    </footer>
  </body>
</html>
